.black-background {background-color:#0c2a77;}
.white {color:#ffffff;}
.black-background[disabled] {background-color:#0c2a77;}
.black-background:hover, .black-background:active, .black-background:focus {background-color:#0c2a77!important;}