.h{

    background-color: #0c2a77;
    
}
.btn-primaryy{

    background-color: #0c2a77;
    
}

.row{

    margin-left: 300px;
    margin-top: auto;
}

.y{
    margin-bottom: 50px;
}

.yy{
    margin-bottom: 90px;
}



.white {color:#ffffff;}