<div class="row">
  
  <div class="col-md-3 "  >
    
    <div class="card" style="width: 18rem;">
      <div class="card-header h"><i class="fal fa-camera fa-4x center"></i></div>
      
    <div class="card-body">
      <h5 class="card-title">Marques</h5>
      <p class="card-text">Accès au listing des marques, à partir des fichiers vision.</p>
      <a href="#" class="btn btn-primaryy white btn-block">Accéder au module</a>
    </div>
  
    </div>
</div>
<div class="col-md-3" >

  <div class="card" style="width: 18rem;">
    <div class="card-header h"><i class="fal fa-camera fa-4x center"></i></div>
    
  <div class="card-body">
    <h5 class="card-title">Marques (BDD)</h5>
    <p class="card-text">Accès au listing des marques, à partir des fichiers vision.</p>
    <a href="#" class="btn btn-primaryy white btn-block">Accéder au module</a>
  </div>

  </div>
</div>
<div class="col-md-3" >

  <div class="card" style="width: 18rem;">
    <div class="card-header h"><i class="fal fa-camera fa-4x center"></i></div>
    
  <div class="card-body">
    <h5 class="card-title">Marques</h5>
    <p class="card-text">Accès au listing des marques, à partir des fichiers vision.</p>
    <a href="#" class="btn btn-primaryy white btn-block">Accéder au module</a>
  </div>

  </div>
</div>

  <!-- Force next columns to break to new line at md breakpoint and up -->
  <div class="w-100 d-none d-md-block y"></div>

  <div class="col-md-3" >

    <div class="card" style="width: 18rem;">
      <div class="card-header h" ><i class="fal fa-camera fa-4x center"></i></div>
      
    <div class="card-body">
      <h5 class="card-title">Articles</h5>
      <p class="card-text">Accès au listing des marques, à partir des fichiers vision.</p>
      <a href="#" class="btn btn-primaryy white btn-block">Accéder au module</a>
    </div>
  
    </div>
</div>
<div class="col-md-3" >

  <div class="card" style="width: 18rem;">
    <div class="card-header h"><i class="fal fa-camera fa-4x"></i></div>
    
  <div class="card-body">
    <h5 class="card-title">Mise à jour tarifs</h5>
    <p class="card-text">Accès au listing des marques, à partir des fichiers vision.</p>
    <a href="#" class="btn btn-primaryy white btn-block">Accéder au module</a>
  </div>

  </div>
</div>
<div class="col-md-3" >

  <div class="card" style="width: 18rem;">
    <div class="card-header h"><i class="fal fa-camera fa-4x "></i></div>
    
  <div class="card-body">
    <h5 class="card-title">Saisie des ventes</h5>
    <p class="card-text">Accès au listing des marques, à partir des fichiers vision.</p>
    <a href="#" class="btn btn-primaryy white btn-block">Accéder au module</a>
  </div>

  </div>
</div>
<div class="w-100 d-none d-md-block y"></div>
<div class="col-md-3" >

  <div class="card" style="width: 18rem;">
    <div class="card-header h"><i class="fal fa-camera fa-4x "></i></div>
    
  <div class="card-body">
    <h5 class="card-title">Historique des sorties</h5>
    <p class="card-text">Accès au listing des marques, à partir des fichiers vision.</p>
    <a href="#" class="btn btn-primaryy white btn-block">Accéder au module</a>
  </div>

  </div>
</div>
</div>